<% content_for :title, @company.name %>
<div class="mx-auto px-4 sm:px-6 lg:px-8 py-8 animate-fade-in space-y-12">
  <%= render "companies/header_card", company: @company, properties: @properties %>
  <%= render "companies/property_associations", company: @company %>
  <%= render "companies/properties_list", company: @company, properties: @properties %>
</div>
